<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>学生列表</title>
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>
<div hidden id="add-class-page">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body" pad15>
                        <div style="margin: 0 auto; width: 75%">
                            <form class="layui-form" action="" method="post">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">班级年份</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="add-class-year" name="year" class="layui-input" lay-verify="year" required>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">班级名称</label>
                                    <div class="layui-input-inline">
                                        <input id="add-class-name" type="text" name="cName" value="" lay-verify="cName"
                                               required autocomplete="off" placeholder="输入专业加班级号..."
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">状态</label>
                                    <div class="layui-input-inline">
                                        <select id="add-select-state" name="state" class="layui-select" required
                                                lay-search>
                                            <option value="">选择状态</option>
                                            <option value="未开始">未开始</option>
                                            <option value="正常">正常</option>
                                            <option value="已结束">已结束</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label"> </label>
                                    <div class="layui-input-inline">
                                        <button id="add-btn" lay-submit class="layui-btn" lay-filter="addClassSubmit">添加</button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div hidden id="edit-class-page">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body" pad15>
                        <div style="margin: 0 auto; width: 75%">
                            <form class="layui-form" action="" method="post">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">班级年份</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="edit-class-year" name="year" class="layui-input"
                                               required lay-verify="year">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">班级名称</label>
                                    <div class="layui-input-inline">
                                        <input id="edit-class-name" type="text" name="cName" value="" lay-verify="cName"
                                               required autocomplete="off" placeholder="输入专业加班级号..."
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">状态</label>
                                    <div class="layui-input-inline">
                                        <select id="edit-select-state" name="state" class="layui-select" required
                                                lay-search>
                                            <option value="">选择状态</option>
                                            <option value="未开始">未开始</option>
                                            <option value="正常">正常</option>
                                            <option value="已结束">已结束</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label"> </label>
                                    <div class="layui-input-inline">
                                        <button id="edit-btn" lay-submit class="layui-btn" lay-filter="editClassSubmit">确认</button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-fluid">
    <div class='layui-row'>
        <div class='head-btn'>
            <form class='layui-form'>
                <div class="layui-form-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">班级年份</label>
                        <div class="layui-input-inline">
                            <input type="text" id="search-class-year" name="year" value="" lay-verify="search_year"
                                   class="layui-input" autocomplete="off" placeholder="输入年份...">
                        </div>
                        <label class="layui-form-label">班级名称</label>
                        <div class="layui-input-inline">
                            <input id="search-class-name" type="text" name="cName" value="" lay-verify="search_cName"
                                   autocomplete="off" placeholder="输入专业加班级号..." class="layui-input">
                        </div>
                        <label class="layui-form-label"> </label>
                        <button class="layui-btn" lay-submit id="search" lay-filter="searchclass">搜索</button>
                        <button class="layui-btn" type="reset" id="clear">清空</button>
                    </div>
                </div>
            </form>
        </div>
        <table class="" id="test" lay-filter="test"></table>
    </div>
</div>
<script src="../../layuiadmin/lib/jquery.min.js"></script>
<script src="../../layuiadmin/layui/layui.js?t=1"></script>
<script>
    let winheight = $(window).height();
    let tabheight = winheight - 60;

    // 对table
    layui.use(['table', 'form'], function () {
        var table = layui.table;
        var form = layui.form;
        var addClassIndex;
        var editClassIndex;
        var id;
        var option = {
            id: 'test'
            , elem: '#test'
            , url: 'http://localhost:8080/class/classes'
            , height: 'full-100'
            , toolbar: '#toolbar'
            , page: true
            , limit: 20
            , cols: [[ //表头
                {field: 'cName', title: '班级名称', sort: true, align: 'center'}
                , {field: 'year', title: '年份', align: 'center'}
                , {field: 'amount', title: '班级人数', width: 100, sort: true, align: 'center'}
                , {field: 'state', title: '状态', align: 'center'}
                , {field: 'operation', title: '操作', width: 300, toolbar: '#barDemo', align: 'center'}
            ]]
        }
        table.render(option);
//监听表头toolbar
        table.on("toolbar(test)", function (obj) {
            var layEvent = obj.event;
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            var data = obj.data; //获得当前行数据
            if (layEvent === 'add') {
                console.log("add");

                addClassIndex = layer.open({
                    type: 1,
                    title: '添加班级',
                    area: ['700px', '450px'],
                    content: $('#add-class-page'),

                });

                form.render();
            }
        });
        //
        //监听表内toolbar
        table.on("tool(test)", function (obj) {
            var layEvent = obj.event;
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            var data = obj.data; //获得当前行数据

            var year = data.year;
            var cName = data.cName;
            id = data.id;
            var state = data.state;

            $('#edit-class-year').attr("value", data.year);
            $('#edit-class-name').attr("value", data.cName);

            if (layEvent === 'del') {
                layer.confirm('确定删除该班级?', {icon: 3, title: '提示'}, function (index) {
                    $.ajax({
                        type: 'POST',
                        url: 'http://localhost:8080/class/update',
                        data: {
                            id: id,
                            year: year,
                            cName: cName,
                            state: "删除"
                        },
                        dataType: 'json',
                        success: function (result) {
                            if (result) {
                                init();
                            } else {
                                alert("error")
                            }
                        }
                    })
                    layer.close(index);
                });

            } else if (layEvent === 'end') {
                layer.confirm('确定结束该班级?', {icon: 3, title: '提示'}, function (index) {
                    $.ajax({
                        type: 'POST',
                        url: 'http://localhost:8080/class/update',
                        data: {
                            id: id,
                            year: year,
                            cName: cName,
                            state: "已结束"
                        },
                        dataType: 'json',
                        success: function (result) {
                            if (result) {
                                init();
                            } else {
                                alert("error")
                            }
                        }
                    })
                    layer.close(index);
                });
            } else if (layEvent === 'start') {
                layer.confirm('确定开始该班级?', {icon: 3, title: '提示'}, function (index) {
                    $.ajax({
                        type: 'POST',
                        url: 'http://localhost:8080/class/update',
                        data: {
                            id: id,
                            year: year,
                            cName: cName,
                            state: "正常"
                        },
                        dataType: 'json',
                        success: function (result) {
                            if (result) {
                                init();
                            } else {
                                alert("error")
                            }
                        }
                    })
                    layer.close(index);
                });
            } else if (layEvent === 'edit') {
                console.log("edit");
                $('#edit-select-state option').attr("selected", false);
                $("#edit-select-state option[value=" + state + "]").attr("selected", true);
                form.render('select');

                editClassIndex = layer.open({
                    type: 1,
                    title: '编辑班级',
                    area: ['700px', '450px'],
                    content: $('#edit-class-page'),
                });
                form.render();
            }
        });

        form.verify({
            year: function (value) {
                if (value.trim() == "") {
                    return "学号不能为空"
                }
                if (!/^\d{4}$/.test(value)) {
                    return "年份为4位数字";
                }
            },

            cName: function (value) {
                if (value.trim() == "") {
                    return "班级不能为空"
                }
                if (!/^[\u4e00-\u9fa5]{2}\d{4}$/.test(value)) {
                    return "班级为2位中文专业简称与4位数字班号的组合";
                }
            },

            search_cName: function (value) {
                if (!(/^$|^[\u4e00-\u9fa5]{2}\d{4}$/.test(value))) {
                    return "班级为2位中文专业简称与4位数字班号的组合";
                }
            },
            search_year: function (value) {
                if (!/^$|^\d{4}$/.test(value)) {
                    return "年份为4位数字";
                }
            },

        });

        form.on('submit(searchclass)',function () {
            var cName;
            var year;

            cName = $("#search-class-name").attr("value");
            year = $("#search-class-year").attr("value");

            //console.log(sName+"-"+sid);
            var option3 = {
                url: 'http://localhost:8080/class/classSearch' //数据接口
                , method: 'POST'
                , where: {
                    year:year,
                    cName:cName
                }
            };
            table.reload('test', option3);
            return false;
        })

        form.on('submit(addClassSubmit)', function () {
            var year = $("#add-class-year").val();
            var cName = $("#add-class-name").val();
            var state = $("#add-select-state option:selected").val();

            // alert(sid + " "+ sName+" "+gender+" "+cid+" "+birthday+" "+nativePlace+" "+state);
            $.ajax({
                type: 'POST',
                url: 'http://localhost:8080/class/add',
                data: {
                    year: year,
                    cName: cName,
                    state: state
                },
                dataType: 'json',
                success: function (result) {
                    if (result) {
                        layer.close(addClassIndex);
                        init();
                    } else {
                        alert("error")
                    }
                }
            })
            return false;
        });

        form.on('submit(editClassSubmit)', function () {
            var year = $("#edit-class-year").val();
            var cName = $("#edit-class-name").val();
            var state = $("#edit-select-state option:selected").val();
            // alert(sid + " "+ sName+" "+gender+" "+cid+" "+birthday+" "+nativePlace+" "+state);
            $.ajax({
                type: 'POST',
                url: 'http://localhost:8080/class/update',
                data: {
                    id: id,
                    year: year,
                    cName: cName,
                    state: state
                },
                dataType: 'json',
                success: function (result) {
                    if (result) {
                        layer.close(editClassIndex);
                        init();
                    } else {
                        alert("error")
                    }
                }
            })
            return false;
        });
    })
</script>
<script>
    function init() {
        layui.use(['form', 'table'], function () {
            var form = layui.form;
            var table = layui.table;
            var option1 = {
                url: 'http://localhost:8080/class/classes' //数据接口
                , method: 'POST'
            }
            table.reload('test', option1);
            form.render();
        })
    }
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    {{#  if(d.state == '正常'){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="end">结束</a>
    {{#  } else if(d.state == '未开始') { }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="start">开始</a>
    {{#  } }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

</script>
<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-xs" lay-event="add">添加</a>
</script>
</body>
</html>