<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>学生列表</title>
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>
<div hidden id="add-student-page">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body" pad15>
                        <div style="margin: 0 auto; width: 75%">
                            <form class="layui-form" action="" method="post">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">学号</label>
                                    <div class="layui-input-inline">
                                        <input id="add-Student-ID" type="text" name="sid" value=""
                                               lay-verify="sid" required
                                               placeholder="学号..." class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">姓名</label>
                                    <div class="layui-input-inline">
                                        <input id="add-Student-Name" type="text" name="sName" value=""
                                               lay-verify="sName" required
                                               placeholder="姓名..." class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">性别</label>
                                    <div class="layui-input-inline" required id="add-student-gender" name="gender">
                                        <input type="radio" name="sex" value="男" title="男" checked="true">
                                        <input type="radio" name="sex" value="女" title="女">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">班级</label>
                                    <div class="layui-input-inline">
                                        <select id="add-select-class" name="cid" class="layui-select" required
                                                lay-search>
                                            <option value="">选择班级</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">生日</label>
                                    <div class="layui-input-inline">
                                        <input id="add-student-birthday" type="text" name="birthday" value="" required
                                               autocomplete="off" placeholder="选择生日" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">籍贯</label>
                                    <div class="layui-input-inline">
                                        <input id="add-student-native-place" type="text" name="nativePlace" value=""
                                               lay-verify="nativePlace" required
                                               placeholder="籍贯..." class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">状态</label>
                                    <div class="layui-input-inline">
                                        <select id="add-select-state" name="state" class="layui-select" required
                                                lay-search>
                                            <option value="">选择状态</option>
                                            <option value="在读">在读</option>
                                            <option value="离校">离校</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input set-center" style="border: 0px;">
                                        <button id="add-student-submit" lay-submit class="layui-btn"
                                                lay-filter="addStudentSubmit">确认
                                        </button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div hidden id="edit-student-page">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body" pad15>
                        <div style="margin: 0 auto; width: 75%">
                            <form class="layui-form" action="" method="post">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">学号</label>
                                    <div class="layui-input-inline">
                                        <input id="edit-Student-ID" type="text" name="sid" value=""
                                               lay-verify="sid" required
                                               autocomplete="off" placeholder="学号..." class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">姓名</label>
                                    <div class="layui-input-inline">
                                        <input id="edit-Student-Name" type="text" name="sName" value=""
                                               lay-verify="sName" required
                                               autocomplete="off" placeholder="姓名..." class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">性别</label>
                                    <div class="layui-input-inline" required id="edit-student-gender" name="gender">
                                        <input type="radio" name="sex" value="男" title="男" checked="true">
                                        <input type="radio" name="sex" value="女" title="女">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">班级</label>
                                    <div class="layui-input-inline">
                                        <select id="edit-select-class" name="cid" class="layui-select" required
                                                lay-search>
                                            <option value="">选择班级</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">生日</label>
                                    <div class="layui-input-inline">
                                        <input id="edit-student-birthday" type="text" name="birthday" value="" required
                                               autocomplete="off" placeholder="选择生日" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">籍贯</label>
                                    <div class="layui-input-inline">
                                        <input id="edit-student-native-place" type="text" name="nativePlace" value=""
                                               lay-verify="nativePlace" required
                                               autocomplete="off" placeholder="籍贯..." class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">状态</label>
                                    <div class="layui-input-inline">
                                        <select id="edit-select-state" name="state" class="layui-select" required
                                                lay-search>
                                            <option value="">选择状态</option>
                                            <option value="在读">在读</option>
                                            <option value="离校">离校</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input set-center" style="border: 0px;">
                                        <button id="edit-student-submit" lay-submit class="layui-btn"
                                                lay-filter="editStudentSubmit">确认
                                        </button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-fluid">
    <div class='layui-row'>
        <div class='head-btn'>
            <form class='layui-form'>
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" id="studentNumber" name="sName" class="layui-input" value=""
                               lay-verify="search_sName"/>
                    </div>
                    <label class="layui-form-label">学号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="studentID" name="sid" class="layui-input" value=""
                               lay-verify="search_sid"/>
                    </div>
                    <label class="layui-form-label"> </label>
                    <div class="layui-input-inline">
                        <button class="layui-btn" lay-submit id="search">搜索</button>
                        <button class="layui-btn" type="reset" lay-reset id="clear">清空</button>
                    </div>
                </div>
            </form>
        </div>
        <table class="" id="test" lay-filter="test"></table>
    </div>
</div>
<script src="../../layuiadmin/lib/jquery.min.js"></script>
<script src="../../layuiadmin/layui/layui.js?t=1"></script>
<script>
    let winheight = $(window).height();
    let tabheight = winheight - 60;

    // 对table
    layui.use(['table', 'form', 'laydate'], function () {
        var addStudentIndex;
        var editStudentIndex;
        var id;
        var table = layui.table;
        var form = layui.form;
        var laydate = layui.laydate
        laydate.render({
            elem: '#add-student-birthday'
            , format: 'yyyy-MM-dd'
        });
        laydate.render({
            elem: '#edit-student-birthday'
            , format: 'yyyy-MM-dd'
        });
        var option = {
            id: 'test'
            , elem: '#test'
            , url: 'http://localhost:8080/student/studentlist' //数据接口
            // 数据填充使用URL会产生分页无效的情况，直接使用data就OK如下
            // , url: "../json/demoTable.json"
            //强大的工具toolbar
            , height: 'full-100'
            , toolbar: '#toolbar'
            , page: true
            , limit: 20
            , cols: [[ //表头
                {field: 'sid', title: '学号', sort: true, align: 'center'}
                , {field: 'sName', title: '姓名', align: 'center'}
                , {field: 'gender', title: '性别', width: 100, sort: true, align: 'center'}
                , {field: 'birthday', title: '生日', align: 'center'}
                , {field: 'age', title: '年龄', align: 'center'}
                , {field: 'nativePlace', title: '籍贯', align: 'center'}
                , {field: 'state', title: '状态', align: 'center'}
                , {field: 'cName', title: '班级', align: 'center'}
                , {field: 'operation', title: '操作', width: 300, toolbar: '#barDemo', align: 'center'}
            ]]
        }
        table.render(option);

        //监听表头toolbar
        table.on("toolbar(test)", function (obj) {
            var layEvent = obj.event;
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            var data = obj.data; //获得当前行数据
            if (layEvent === 'add') {
                console.log("add");
                $.ajax({
                    async: false,
                    type: 'POST',
                    url: 'http://localhost:8080/class/classes',
                    dataType: 'json',
                    success: function (data) {
                        console.log(data)
                        $("select[name='cid']").html("");
                        $("select[name='cid']").append('<option value="">选择班级</option>');
                        $.each(data.data, function (key, val) {
                            var option1 = '<option value="' + val.id + '">' + val.cName + '</option>';
                            console.log(option1)
                            $("select[name='cid']").append(option1);
                            form.render('select');
                        });
                    }
                });
                form.render('select');

                addStudentIndex=layer.open({
                    type: 1,
                    title: '添加学生',
                    area: ['700px', '450px'],
                    content: $('#add-student-page'),

                });

                form.render();
            }
        });
        //
            //监听表内toolbar
        table.on("tool(test)", function (obj) {
            var layEvent = obj.event;
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            var data = obj.data; //获得当前行数据
            var gender = data.gender;
            var cid = data.cid;
            var cName = data.cName;
            var nativePlace = data.nativePlace;
            var gender = data.gender;
            var state = data.state;
            id = data.id;

            $.ajax({
                async: false,
                type: 'POST',
                url: 'http://localhost:8080/class/classes',
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    $("select[name='cid']").html("");
                    $.each(data.data, function (key, val) {
                        var option1 = '<option value="' + val.id + '">' + val.cName + '</option>';
                        console.log(option1)
                        $("select[name='cid']").append(option1);
                        form.render('select');
                    });
                }
            });
            form.render('select');

            $('#edit-Student-ID').attr("value", data.sid);
            $('#edit-Student-Name').attr("value", data.sName);
            $('#edit-student-native-place').attr("value", data.nativePlace);
            $('#edit-student-birthday').attr("value", data.birthday);

            $('#edit-student-gender input').attr("checked", false);
            $("#edit-student-gender input[title$=" + gender + "] ").attr("checked", true);

            if (layEvent === 'del') {
                obj.del();
            } else if (layEvent === 'edit') {
                console.log("edit");
                $('#edit-select-class option').attr("selected", false);
                $("#edit-select-class option[value=" + cid + "]").attr("selected", true);
                $('#edit-select-state option').attr("selected", false);
                $("#edit-select-state option[value=" + state + "]").attr("selected", true);
                form.render('select');

                editStudentIndex=layer.open({
                    type: 1,
                    title: '编辑',
                    area: ['700px', '450px'],
                    content: $('#edit-student-page'),
                });
                form.render();
            }
        });

        form.verify({
            sid: function (value) {
                if (value.trim() == "") {
                    return "学号不能为空"
                }
                if (!/^[\d]{10}$/.test(value)) {
                    return "学号为10位数字";
                }
            },

            sName: function (value) {
                if (value.trim() == "") {
                    return "姓名不能为空"
                }
                if (!/^[\u4e00-\u9fa5|a-zA-Z]{0,10}$/.test(value)) {
                    return "姓名为10位以下汉字或字母组合";
                }
            },

            nativePlace: function (value) {
                if (value.trim() == "") {
                    return "姓名不能为空"
                }
                if (!/^[\u4e00-\u9fa5]{0,15}$/.test(value)) {
                    return "籍贯为15位以下汉字组合";
                }
            },

            search_sName: function (value) {
                if (!(/^$|^[\u4e00-\u9fa5|a-zA-Z]{0,10}$/.test(value))) {
                    return "姓名为10位以下汉字或字母组合";
                }
            },
            search_sid: function (value) {
                if (!/^$|^[\d]{10}$/.test(value)) {
                    return "学号为10位数字";
                }
            },

        });


        form.on('submit(addStudentSubmit)',function () {
            var sid = $("#add-Student-ID").val();
            var sName = $("#add-Student-Name").val();
            var gender = $("#add-student-gender input:checked").val();
            var cid = $("#add-select-class option:selected").val();
            var birthday = $("#add-student-birthday").val();
            var nativePlace = $("#add-student-native-place").val();
            var state = $("#add-select-state option:selected").val();
            alert(sid + " "+ sName+" "+gender+" "+cid+" "+birthday+" "+nativePlace+" "+state);
            $.ajax({
                type: 'POST',
                url: 'http://localhost:8080/student/add',
                data: {
                    sid: sid,
                    sName: sName,
                    gender: gender,
                    cid: cid,
                    birthday: birthday,
                    nativePlace: nativePlace,
                    state:state
                },
                dataType: 'json',
                success: function (result) {
                    if(result){
                        layer.close(addStudentIndex);
                    }
                    else {
                        alert("error")
                    }
                }
            })
            return false;
        });

        form.on('submit(editStudentSubmit)',function () {
            var sid = $("#edit-Student-ID").val();
            var sName = $("#edit-Student-Name").val();
            var gender = $("#edit-student-gender input:checked").val();
            var cid = $("#edit-select-class option:selected").val();
            var birthday = $("#edit-student-birthday").val();
            var nativePlace = $("#edit-student-native-place").val();
            var state = $("#edit-select-state option:selected").val();
            alert(sid + " "+ sName+" "+gender+" "+cid+" "+birthday+" "+nativePlace+" "+state);
            $.ajax({
                type: 'POST',
                url: 'http://localhost:8080/student/update',
                data: {
                    id:id,
                    sid: sid,
                    sName: sName,
                    gender: gender,
                    cid: cid,
                    birthday: birthday,
                    nativePlace: nativePlace,
                    state:state
                },
                dataType: 'json',
                success: function (result) {
                    if(result){
                        layer.close(editStudentIndex);
                        init();
                    }
                    else {
                        alert("error")
                    }
                }
            })
            return false;
        });
    })
</script>
<script>
    function init(){
        layui.use(['form','table'],function () {
            var form = layui.form;
            var table = layui.table;
            var option1 = {
                url: 'http://localhost:8080/student/studentlist' //数据接口
                , method: 'POST'
            }
            table.reload('test', option1);
            form.render();
        })
    }
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">修改状态</a>
</script>
<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-xs" lay-event="add">添加</a>
</script>
</body>
</html>